body {
    font-family: sans-serif;
}

form > div {
    margin-bottom: 20px;
}

.autocomplete-result {
    position: relative;
    opacity: 0;
    transition: opacity 0.5s ease; /* see AutocompleteClass for animation */
}

.autocomplete-result.active {
    opacity: 1;
}

.autocomplete-result ul {
    position: absolute;
    margin: 0;
    padding: 0;
    background: #efefef;
    z-index: 5;
    width: 177px;
}

.autocomplete-result ul li {
    list-style: none;
    padding: 10px 10px;
    border-bottom: 1px solid #ddd;
    border-radius: 5px;
    transition: 0.3s all ease;
}

.autocomplete-result ul li:hover {
    cursor: pointer;
    background: #ccc;
}

.toast {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 300px;
    z-index: 999;
    box-shadow: 0px 2px 7px 1px #CCCCCC;
    transition: 0.3s opacity ease;
    opacity: 0;
}

.toast.success {
    background: #69c569;
}

.toast.error {
    background: #db5858;
}

.toast > div {
    padding: 10px;
}

.toast > .message {
    float: left;
    min-width: 245px;
    max-width: 245px;
    border-right: 1px solid #ccc;
}

.toast > .close {
    float: right;
    width: 10px;
    height: 100%;
    cursor: pointer;
}